<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Agendar hora de visita</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card-hora">
    <ion-item>
      <ion-textarea label="Nombre completo" labelPlacement="stacked" placeholder="Ingrese su nombre completo"></ion-textarea>
    </ion-item>
      
    <ion-item>
      <ion-textarea label="Email" labelPlacement="stacked" placeholder="Ingrese su email"></ion-textarea>
    </ion-item>

    <p>Cual es el motivo de su visita</p>
    <ion-list>
      <ion-item>
        <ion-select aria-label="motivo de su visita" value="Adoptar">
          <ion-select-option value="Adoptar">adoptar</ion-select-option>
          <ion-select-option value="Informacion">Informacion</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
